[flake8]
#############################################################
# Note: Comamnd to remove white space at the end of lines
# $ find . -type f -name "*.py" -print0 | xargs -0 sed -i 's/\s*$//g'
#############################################################
exclude = __init__.py
extend-ignore =
   # E116: unexpected indentation (comment)
   E116,
   # E128: continuation line under-indented for visual indent
   E128,
   # E131: continuation line unaligned for hanging indent
   E131,
   # E201: whitespace after '('
   E201,
   # E202: whitespace before ')'
   E202,
   # E203: whitespace before ':'
   E203,
   # E211: whitespace before '('
   E211,
   # E221: multiple spaces before operator
   E221,
   # E222: multiple spaces after operator
   E222,
   # E225: missing whitespace around operator
   E225,
   # E226: missing whitespace around arithmetic operator
   E226,
   # E227: missing whitespace around bitwise or shift operator
   E227,
   # E228: missing whitespace around modulo operator
   E228,
   # E231: missing whitespace after ','
   E231,
   # E241: multiple spaces after ','
   E241,
   # E251: unexpected spaces around keyword / parameter equals
   E251,
   # E261: at least two spaces before inline comment
   E261,
   # E262: inline comment should start with '# '
   E262,
   # E265: block comment should start with '# '
   E265,
   # E266: too many leading '#' for block comment
   E266,
   # E272: multiple spaces before keyword
   E272,
   # E302: expected 2 blank lines, found 1
   E302,
   # E303: too many blank lines
   E303,
   # E305: expected 2 blank lines after class or function definition
   E305,
   # E306: expected 1 blank line before a nested definition, found 0
   E306,
   # E501: line too long
   E501
